.all-bond-header {
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
}
.all-bond-header h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(129, 129, 129);
  margin-left: 1rem;
  padding: 1rem 0;
}
.all-bond-header h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-left: 0.8rem;
}
.all-bond-header-link {
  margin-top: 3.8rem;
  margin-right: 0.5rem;
}
.all-bond-header-link button {
  padding: 0.6rem 2.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid transparent;
  outline: none;
  font-size: 1.1rem;
  background-color: #2fb5fc;
  letter-spacing: 0.05rem;
  color: white;
}
.all-bond-header-link button:hover {
  background-color: transparent;
  color: #2fb5fc;
  border: 0.1rem solid #2fb5fc;
}
.all-bond-table {
  background-color: #2fb5fc;
  padding: 2rem;
}
.all-bond-table-box {
  background-color: #e8f0fe;
  border-radius: 0.4rem;
  /* border-collapse: separate; */
}
.column-heading-name,
.column-heading-coupon,
.column-heading-ip,
.column-heading-maturity,
.column-heading-rating,
.column-heading-yield,
.column-heading-type,
.column-heading-amount {
  height: 1.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.4rem 0;
  text-align: center;
}
.column-heading-amount {
  width: 10rem;
}
.column-heading-name {
  width: 16rem;
  padding-left: 1.2rem;
}
.column-heading-coupon {
  width: 10rem;
  /* background-color: green; */
  /* text-align: center; */
}
.column-heading-maturity {
  width: 12rem;
  /* background-color: greenyellow; */
  /* text-align: center; */
}
.column-heading-yield {
  width: 14rem;
  /* background-color: hotpink; */
  /* text-align: center; */
}
.column-heading-ip {
  width: 17rem;
  /* background-color: indianred; */
  /* text-align: center; */
}
.column-heading-rating {
  width: 16rem;
  /* background-color: indigo; */
  /* text-align: center; */
}
.column-heading-type {
  width: 12rem;
  /* background-color: lightcoral; */
  /* text-align: center; */
}
.column-items {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.8rem 0;
  border: 0.2rem solid transparent;
}
.table-row:hover {
  background-color: #2fb5fc;
  color: white;
}
.bondCustomer {
  color: white;
  margin-top: 5.5rem;
  padding-bottom: 2rem;
}
.bondCustomer h3 {
  /* margin-left: 1.2rem; */
  font-size: 2rem;
  margin-bottom: 2rem;
}
.bondCustomer-div {
  display: flex;
  flex-direction: row;
}
.bondCustomer-card {
  color: black;
  background-color: white;
  width: 18rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.bondCustomer-card h2 {
  font-size: 1.2rem;
  font-weight: 400;
  /* margin-left: 0.8rem; */
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
}
.bondCustomer-card h4 {
  font-size: 1rem;
  font-weight: 400;
  /* color: #e8f0fe; */
  /* margin-left: 0.8rem; */
  color: #4b4c4f;
}
.bondCustomer-card p {
  font-size: 1.5rem;
  font-weight: lighter;
  /* padding: 2.4rem 0.8rem; */
  padding: 2.4rem 0;
}
.bondCustomer-card h5 {
  font-size: 1rem;
  /* margin-left: 0.8rem; */
  padding-bottom: 0.2rem;
}

.loading {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-left: 18rem;
}
.loading-text {
  color: #2fb5fc;
  font-size: 5.5rem;
  font-weight: lighter;
  margin-top: 5rem;
  font-family: "Quicksand", sans-serif;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #2fb5fc;
  font-size: 0.4rem;
  margin-top: 7.5rem;
  margin-left: 1.2rem;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
